#sidepanel {
  width: 25%;
  min-width: 350px;
  position: absolute;
  z-index: 99;
  background-color: black;
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  transition: transform .3s ease;
}

#powerbar {
  min-width: 30px;

}
#sidepanel.opened {
  -webkit-transform: translate(0%,0);
  -moz-transform: translate(0%,0);
  -ms-transform: translate(0%,0);
  transform: translate(0%,0);
}
#sidepanel.closed {
  -webkit-transform: translate(-94%,0);
  -moz-transform: translate(-94%,0);
  -ms-transform: translate(-94%,0);
  transform: translate(-94%,0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}