.ciqblue {
color: #07BCDE;
}
.ciqred {
color: #E51937;
}
.inputTags{
background-color: #CBCBCB;
}
.inputNotes{
background-color: #CBCBCB;
}

#topbar {
	height: 52px;
	background-color: #141414;
	border: none;
}

.navbar-collapse{
	background-color: #141414;
	border: none;
}

.navbar-inverse {
	background-color: #141414;
	border: none;
}

.navbar-inverse .container-fluid {
	background-color: #141414;
}

body {
	margin: 0px;
}

@font-face{
	font-family: 'Geogrotesque';
	src: URL("../fonts/Geogrotesque/geogtq-md.otf") format("opentype");
}

@font-face{
	font-family: 'GeogrotesqueL';
	src: URL("../fonts/Geogrotesque/geogtq-lg.otf") format("opentype");
}

.btnCIQ {
	background: linear-gradient(0deg, rgb(32,34,34) 0%, rgb(20,20,20) 100%);
	box-shadow: inset 0 1px 25% #ffffff; 
	box-shadow: 2px 2px 60% 0 #000000;
	margin-top: 20px;
	border: none;
	font-family: 'Geogrotesque';
	color :#cbcbcb;
	font-size: 12px;
	text-shadow: none;
	height: 23px;
	padding: 0 20px 0 20px;
	margin-top: 62%;
}

.btnCIQ:hover, .btnCIQ:focus {
	color: #07BCDE;
	background: linear-gradient(0deg, rgb(44,46,46) 0%, rgb(32,34,34) 100%);
	border: none;
}

.btnCIQ:active {
	background-color: #F51717;
	box-shadow: inset 0 2px 75% #000000; 
	border: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Geogrotesque';
}

.tab-pane h3 {
	font-family: 'GeogrotesqueL';
}

html, body, .container-fluid, .full, .ember-view {
	height: 100%;
}

.dropdown {
	font-family: 'Geogrotesque';
}

#wtf1{
	background: linear-gradient(180deg, rgb(37, 39, 39,)0%, rgb(45, 47, 47) 100%);
	border: #494848, 1px;
	border-radius: 3px;
}

#nav-logo {
	background: url("../Images/logo-spciq.png") no-repeat 0 0;
	width: 145px;
	height: 45px;
	margin-top:3px;
	margin-left: 5px;
	margin-right: 16px;
}

#navbar-search {
	width: 548px;
	height: 24px;
	margin-top:8px;
	background-color: #BDC1C3;
	color: #5B5E5E;
	font-size: 12px;
	font-family: Arial;
	font-style: italic;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 9px 9px;
	border-bottom-right-radius: 9px 9px;
	border-bottom-left-radius: 0px 0px;
	padding-left: 10px;
	padding-right: 30px;
}

#nav-searchicon {
	background: url("../Images/search.png") no-repeat 0 0;
	width: 18px;
	height: 17px;
	cursor: pointer;
	
}


#powerbar {
	z-index: 100;
	background-color: #1f2121;
	-webkit-box-shadow: -1px 0 rgba(0,0,0,.75),inset 1px 0 rgba(255,255,255,.1),inset -1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: -1px 0 rgba(0,0,0,.75),inset 1px 0 rgba(255,255,255,.1),inset -1px 0 rgba(255,255,255,.1);
	box-shadow: -1px 0 rgba(0,0,0,.75),inset 1px 0 rgba(255,255,255,.1),inset -1px 0 rgba(255,255,255,.1);
}

#powerbar li > a{
	border: none;
}

.tabs-right {
	border: none;
}

.tabs-right>li {
	margin-left: none;
	margin: 15px 0px;
}

#powerbar li:not(:last-of-type)::after {
	position: absolute;
	bottom: -5px;
	left: -6px;
	display: block;
	content: "";
	width: 30px;
	height: 1px;
	background: transparent;
	background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.2) 50%,rgba(255,255,255,0) 100%);
}


#CIQnotifications {
	background: url("../Images/mainSprite.png") no-repeat 0 -100px;
	width: 20px;
	height: 21px;	
}

#CIQnotifications a:hover, #CIQnotifications a:focus {
	background: url("../Images/mainSprite.png") no-repeat 0 -150px;
	width: 20px;
	height: 21px;
}

.nav-tabs > li.active >a,
.nav-tabs > li.active >a:hover,
.nav-tabs > li.active  >a:focus {
  background: inherit;
}

#CIQapplications {
	background: url("../Images/mainSprite.png") no-repeat -50px -100px;
	width: 17px;
	height: 21px;
}

#CIQapplications a:hover, #CIQapplications a:focus{
	background: url("../Images/mainSprite.png") no-repeat -50px -150px;
	width: 17px;
	height: 21px;
}
#CIQworkspaces {
	background: url("../Images/mainSprite.png") no-repeat -100px -100px;
	width: 22px;
	height: 22px;
	left: -3px;
}

#CIQworkspaces a:hover, #CIQworkspaces a:focus{
	background: url("../Images/mainSprite.png") no-repeat -100px -150px;
	width: 22px;
	height: 22px;
}
#CIQlibrary {
	background: url("../Images/mainSprite.png") no-repeat -150px -100px;
	width: 27px;
	height: 21px;
	left: -4px;
}

#CIQlibrary a:hover, #CIQlibrary a:focus{
	background: url("../Images/mainSprite.png") no-repeat -150px -150px;
	width: 27px;
	height: 21px;
}
#CIQfavorites {
	background: url("../Images/mainSprite.png") no-repeat -200px -100px;
	width: 22px;
	height: 21px;
	left: -2px;
}

#CIQfavorites a:hover, #CIQfavorites a:focus{
	background: url("../Images/mainSprite.png") no-repeat -200px -150px;
	width: 22px;
	height: 21px;
}

#CIQcontacts {
	background: url("../Images/mainSprite.png") no-repeat -300px -100px;
	width: 17px;
	height: 21px;
}

#CIQcontacts a:hover, #CIQcontacts a:focus{
	background: url("../Images/mainSprite.png") no-repeat -300px -150px;
	width: 17px;
	height: 21px;
}
#CIQedge {
	background: url("../Images/mainSprite.png") no-repeat -300px -100px;
	width: 17px;
	height: 21px;
}

#CIQedge a:hover, #CIQedge a:focus{
	background: url("../Images/mainSprite.png") no-repeat -300px -150px;
	width: 17px;
	height: 21px;
}
